<h1>Welcome {{ firstName }} {{ lastName }}!</h1>

<p>
    We're really happy to see you here. We hope that using our application you find your dream job.
</p>

<p>
    If you have any question, just ask us!
</p>

<p>
    Best regards,<br/>
    Recruitment System Team!
</p>
